#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.mainnav{
  display: flex;
  align-items: center;
  background-color: aquamarine;
  height: 11%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.logo{
  height: 75%;
  width: 75%;
}
.login{
  margin-left: 65%;
  font-size: 20px;
}
.signup{
  margin-left: 3%;
  font-size: 20px;
}
.aboutus{
  margin-left: 3%;
  font-size: 20px;
}
.caption{
  background-color: darkgreen;
  color: white;
  position: fixed;
  top: 11%;
  height: 5%;
  width: 100%;
  left: 0;
  text-align: center;
}
.add{
  margin-top: 10%;
}
.buy{
  border: 1px solid rgb(250, 214, 9);
  background-color: rgb(250, 214, 9);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
